scipy
numpy
matplotlib
pandas
tabulate
texttable
requests
python-dotenv
python-environ
beautifulsoup4
redis
colored
python-dateutil
dateparser
fake_useragent
h5py
python-twitter
tweepy
wordcloud
torch
torchvision
nltk
transformers
keras